.choice_front{
    border-top: 4px solid #0b494b9d;
    background-color: #f5f5f5;
}

.choice_ques_box{
    padding: 0px 20px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .option_box{
    padding: 0px 20px;
  }

  .custom_input{
    height: 28px;
    width: 300px;
    border: none;
    border-radius: 3px;
    padding: 2px 10px;
    font-size: 16px;
  }