<div class="navContainer">
  <div class="logos">
    <button><span class="material-symbols-outlined"> apps </span></button>
    <span class="logo">Forms</span>
  </div>
  <div class="title">
    <span>United form</span>
  </div>
  <div class="buttons">
    <button><span class="material-symbols-outlined"> diamond </span></button>
    <button>
      <span class="material-symbols-outlined"> question_mark </span>
    </button>
    <button>
      <span class="material-symbols-outlined"> account_circle </span>
    </button>
  </div>
</div>
