<!-- <app-qinput ></app-qinput>
<app-heading-inputs></app-heading-inputs>
<app-footer-buttons></app-footer-buttons>
<app-add-option></app-add-option>
<app-add-new-btn></app-add-new-btn> -->

<div >
  <app-navbar></app-navbar>
  <app-toolbar></app-toolbar>
  <div class="formContainer">
    <div *ngIf="!viewService.isView" >
      <app-header></app-header>
      <app-choice></app-choice>
      <app-question></app-question>
      <app-ranking></app-ranking>
      <app-add-new-btn></app-add-new-btn>
    </div>

    <div  *ngIf="viewService.isView">
      <app-all-out-put></app-all-out-put>
    </div>

  </div>
</div>



