.ques_front{
    border-top: 4px solid #0b494b9d;
    background-color: #f5f5f5;
    padding: 10px;
    margin: 20px 0px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.ques_front input{
    margin-bottom: 20px;
    width: 95%;
    height: 40px;
    outline: none;
    font-size: 18px;
    padding: 2px 20px;
}

hr {
    border-color: rgb(240, 239, 239);
    border-width: 1px;
    border-style: solid;
  }


  .ques_back{
    /* border-top: 4px solid #0b494b9d; */
    background-color: #f5f5f5;
    padding: 10px;
    margin: 20px 0px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.ques_back input{
    margin-bottom: 20px;
    width: 95%;
    height: 40px;
    outline: none;
    font-size: 18px;
    padding: 2px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.ques_back span{
    font-size: 20px;
  padding: 10px 0;
  color: #5c5c5c;
}

.dragbtn{
    display: flex;
    height: 30px;
    width: 100%;
    align-items: center;
    margin: 0px auto;
  }
  .dragbtn span{
    margin: 0px auto;
    cursor: pointer;
  }