


<div *ngIf="quesList">
    <div *ngFor="let quesObj of quesList; let i = index">
       <div *ngIf="quesObj.ques">
        <div *ngIf="formShow" class="ques_front" >
            <app-heading-inputs></app-heading-inputs>
              <input  matInput [(ngModel)]="quesObj.ques"  />
            <input type="text" disabled placeholder="Enter your answer">
            <hr>
            <app-footer-buttons></app-footer-buttons>
        </div>
        
        
        <div *ngIf="!formShow"  class="ques_back" (click)="formHandler($event)" >
            <div class="dragbtn">
                <span class="material-symbols-outlined"> apps </span>
              </div>
            <span>{{quesObj?.ques || "Question"}}</span>
            <input type="text" disabled placeholder="Enter your answer">
        </div>
       </div>
    </div>
</div>







<div *ngIf="visibilityFunc.quesVisible ">

    <div *ngIf="formShow" class="ques_front" >
        <app-heading-inputs></app-heading-inputs>
          <input  matInput [(ngModel)]="value"  />
        <input type="text" disabled placeholder="Enter your answer">
        <hr>
        <app-footer-buttons></app-footer-buttons>
    </div>
    
    
    <div *ngIf="!formShow"  class="ques_back" (click)="formHandler($event)" >
        <div class="dragbtn">
            <span class="material-symbols-outlined"> apps </span>
          </div>
        <span>{{value || "Question"}}</span>
        <input type="text" disabled placeholder="Enter your answer">
    </div>


</div>

