<div>
  <button *ngIf="!hide" class="addNew" (click)="hideHandler($event)">
    <span class="material-symbols-outlined">add</span> Add new
  </button>

  <div *ngIf="hide" class="btnGroup">
    <button class="plus" (click)="hideHandler($event)">
      <span class="material-symbols-outlined">add</span>
    </button>
    <button
      id="choice_button"
      class="buttons checkedBtn"
      (click)="visibilityFunc.toggleVisibility()"
    >
      <span class="material-symbols-outlined"> radio_button_checked </span>
      Choice
    </button>
    <button
      id="text_btn"
      class="buttons"
      (click)="visibilityFunc.quesVisibility()"
    >
      <span class="material-symbols-outlined"> title </span>
      Text
    </button>
    <button
      id="rating_btn"
      class="buttons"
      (click)="visibilityFunc.rankingVisibility()"
    >
      <span class="material-symbols-outlined"> thumb_up </span>
      Rating
    </button>
    <button id="date_btn" class="buttons">
      <span class="material-symbols-outlined"> calendar_month </span>
      Date
    </button>
    <button class="buttons side_btn_parent" [matMenuTriggerFor]="menu">
      <span class="material-symbols-outlined"> expand_more </span>

      <!-- <div class="side_buttons">
              <ul>
                <li id="ranking_btn" >
                  <span class="material-symbols-outlined" > swap_vert </span>
                  Ranking
                </li>
                <li>
                  <span class="material-symbols-outlined"> view_list </span>
                  Likert
                </li>
                <li>
                  <span class="material-symbols-outlined"> speed </span>
                  Net Promoter Score
                </li>
  
                <li>
                  <span class="material-symbols-outlined"> content_copy </span>
                  Section
                </li>
              </ul>
            </div> -->
    </button>
    <mat-menu class="matmenu" #menu="matMenu">
      <button mat-menu-item>
        <span class="material-symbols-outlined"> swap_vert</span> Ranking
      </button>
      <button mat-menu-item>
        <span class="material-symbols-outlined"> view_list </span> Likert
      </button>
      <button mat-menu-item>
        <span class="material-symbols-outlined"> speed </span>
                  Net Promoter Score
      </button>
      <button mat-menu-item>
        <span class="material-symbols-outlined"> content_copy </span>
        Section
      </button>
    </mat-menu>
  </div>
</div>
