
  
  <p>
    <mat-toolbar>
     <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span> -->
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" >
        <span class="material-symbols-outlined">
            content_copy
            </span>
   </button>
    <button mat-icon-button class="example-icon" >
        <span class="material-symbols-outlined">
            delete
            </span>
   </button>
    <button mat-icon-button class="example-icon" >
        <span class="material-symbols-outlined">
            south
            </span>
   </button>
    <button mat-icon-button class="example-icon" >
        <span class="material-symbols-outlined">
            north
            </span>
   </button>
  
  </mat-toolbar>
  </p>
  

  
  
