/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: url(https://cdn.forms.office.net/forms/images/aio/wave-pattern-v1.svg)
      center top / cover no-repeat fixed,
    linear-gradient(
      90deg,
      rgba(3, 120, 124, 0.2) 0%,
      rgba(3, 120, 124, 0.89) 100%
    );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.mat-button.mat-success,
.mat-stroked-button.mat-success {
    color: #155724;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

.mat-icon-button.mat-success {
  color:#155724;
}

.success{
  color: white;
  background-color: #148186;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.mat-mdc-text-field-wrapper{
  /* background-color: aliceblue !important; */
  background-color: rgb(230, 227, 227) !important;
}